<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bdjcrusadeinternalappli">

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateAccountPage">
        </activity>

        <activity android:name=".UserHistoricView">
        </activity>

        <activity android:name=".UserHistoricDetail">
        </activity>

        <activity android:name=".EquipmentView">
        </activity>

        <activity android:name=".LocationView">
        </activity>

        <activity android:name=".LoaningPage">
        </activity>

        <activity android:name=".MainPage">
        </activity>

        <activity android:name=".levelUpView">
        </activity>

        <activity android:name=".EquipmentDetail">
        </activity>

        <activity android:name=".LoaningViewAll">
        </activity>

        <activity android:name=".LoaningDetails">
        </activity>

        <activity android:name=".LoaningAddEquipment">
        </activity>

        <activity android:name="kotlinClass.LoaningAddNext">
        </activity>

        <activity android:name=".LocationDetail">
        </activity>

        <activity android:name="kotlinClass.PersonnalPage">
        </activity>

        <activity android:name="kotlinClass.LocationAdd">
        </activity>

        <activity android:name="kotlinClass.AdminMenu">
        </activity>

        <activity android:name="kotlinClass.UserManagingView">
        </activity>

        <activity android:name="kotlinClass.UserManagingDetail">
        </activity>

        <activity android:name="kotlinClass.ChangePasswordPage">
        </activity>

        <activity android:name="kotlinClass.EquipmentSelectTypeMenu">
        </activity>

        <activity android:name="kotlinClass.EquipmentInheritedView">
        </activity>

        <activity android:name="kotlinClass.EquipmentInheritedDetail">
        </activity>

        <activity android:name="kotlinClass.VideoGameConsoleDetail">
        </activity>

        <activity android:name="kotlinClass.EquipmentFullInfoDetail">
        </activity>

        <activity android:name="kotlinClass.EquipmentAddForm">
        </activity>

        <activity android:name="kotlinClass.EquipmentManagingDetail">
        </activity>

        <activity android:name="kotlinClass.EquipmentManagingView">
        </activity>

        <activity android:name="kotlinClass.EquipmentManagingSelect">
        </activity>

        <activity android:name="kotlinClass.EquipmentAddFormNext">
        </activity>

        <activity android:name="kotlinClass.EquipmentManagingFullInfoDetail">
        </activity>

        <activity android:name="kotlinClass.LoaningManagingView">
        </activity>

        <activity android:name="kotlinClass.LoaningManagingDetail">
        </activity>

        <activity android:name="kotlinClass.EventMenu">
        </activity>

        <activity android:name="kotlinClass.EventView">
        </activity>

        <activity android:name="kotlinClass.TeamView">
        </activity>

        <activity android:name="kotlinClass.TeamDetail">
        </activity>

        <activity android:name="kotlinClass.TeamAdd">
        </activity>

        <activity android:name="kotlinClass.EventDetail">
        </activity>

        <activity android:name="kotlinClass.EventAdd">
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>
